= simple_form_for @contact,  html: { class: 'form-vertical' },
  wrapper: :vertical_form, as: 'contact', url: contacts_path do |f|

  .form-inputs
    =f.input :name, placeholder: 'Name of contact', class: 'form-control'
    =f.input :phone, placeholder: 'Phone number', class: 'form-control'
    =f.input :email, placeholder: 'user@domain.com', class: 'form-control'

  .form-actions
    =link_to 'Cancel', contacts_path, class: 'btn btn-default'
    =f.button :submit, class: 'btn btn-success'