%h2 Edit Contact
= simple_form_for @contact, html: { class: 'form-vertical' },
  wrapper: :vertical_form, as: 'contact', url: contact_path do |form|
  = render :partial => "contacts/form", locals: { f: form }